.budgetCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1%;
}
.bCardContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.expense{
    background-color: red;
}
.income{
    background-color: green;
}