body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#root{
    min-height: 100vh;
    min-width: 80vw;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header {
    text-align: center;
    margin: 20px;
}

section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

h1, h2 {
    color: #61dafb;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
button {
    background-color: #333!important;
    color: #ffffff;
    border: 1px solid #555;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #61dafb!important;
    border-color: #61dafb;
}

select, input, h3,h2 {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

select:hover, input:hover, select:focus, input:focus {
    border-color: #61dafb;
}

h3 {
    color: #61dafb;
}